@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
/* css for header start */
.logo-fit{
    height: 1.8rem;
    width: 6.25rem;
}
.logo-fit img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.custom-search{
    position: relative;
    border-color: rgba(30, 39, 46, 0.198) !important;
    /* width: 80% !important; */
}
.custom-search:focus{
    box-shadow: none !important;
}
.search-icon{
    position: relative;
}
.search-icon i{
    color: rgba(30, 39, 46, 0.9);
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    /* font-weight: 500; */
}
.fav i{
    color: #1E272E;
    font-size: 1.13rem;
    cursor: pointer;
}
.shop i{
    color: #1E272E;
    cursor: pointer;
    font-size: 1.13rem;
}
.user i{
    color: #1E272E;
    cursor: pointer;
    font-size: 1.13rem;
}
.fav{
    position: relative;
    color: #1E272E;
}
.shop{
    position: relative;
    color: #1E272E;
}
.icon-alert{
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 50%;
    background-color: #c12121;
    position: absolute;
    top: 22%;
    right: -3%;
}
.category-bar .dropdown button{
    width: 100%;
    background-color: #c12121;
    color: #fff;
    border-radius: 0;
    padding: 0.625rem 0rem;
    border: none;
    font-size: 0.875rem !important;
    font-weight: 600;
    text-transform: capitalize;
}
.category-bar .dropdown-menu{
    width: 100% !important;
    background-color: #fff !important;
}
.category-bar .dropdown .dropdown-item{
    color: #1E272E;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.category-bar .dropdown .dropdown-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
    background-color: #c12121;
}
.category-bar .dropdown .dropdown-item:hover{
    color: #fff !important;
}
.category-bar .dropdown .dropdown-item:hover::before{
    transform: translateY(0);
    z-index: -1;
}
.category-bar .dropdown button:focus{
    box-shadow: none;
}
.dropdown-toggle::after{
    display: none;
}
/* .menu-list .navbar-nav .nav-item .active{
    background-color: #c12121;
    color: #fff !important;
} */
.menu-list .navbar-nav .nav-item .nav-link{
    color: #1E272E !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0.5rem 0.9375rem;
    /* border: 1px solid rgba(193, 33, 33, 0.5); */
}
.menu-list .navbar-nav .nav-item .nav-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.4s linear;
    background-color: #c12121;
}
.menu-list .navbar-nav .nav-item .nav-link:hover{
    color: #fff !important;
}
.menu-list .navbar-nav .nav-item .nav-link:hover::before{
    transform: translateY(0);
    z-index: -1;
}

.menu-list .navbar .navbar-collapse{
    border-color: #1E272E;
}
.menu-list .navbar-light .navbar-toggler {
    color: #c12121 !important;
    /* border-color: rgba(193, 33, 33, 0.5) !important; */
    border: none;
}
.menu-list .navbar-light .navbar-toggler i{
    padding: 0.5rem;
    border: 1px solid #c12121;
}
.menu-list .navbar-light .navbar-toggler:focus{
    box-shadow: none;
}
.menu-list .navbar-light .navbar-toggler-icon{
    background-image: none;
}
.menu-list .navbar-light{
    background-color: #fff !important;
}
/* css for header end */

/* banner section css */
#banner{
    margin-top: 150px !important;
    background: rgba(30, 39, 46, 0.05);
}
#carouselExampleIndicators .carousel-indicators .active{
    background-color: #c12121;
}
.carousel-indicators .indicator-shape{
    height: 0.75rem !important;
    width: 0.75rem !important;
    border-radius: 50%;
    background-color: #1E272E;
}
.banner-content{
    margin-top: 7rem !important;
}
.banner-content .title h4{
    font-size: 3rem;
    color: #1E272E;
    font-weight: bold;
}
.banner-content .description p {
    font-size: 1rem;
    font-weight: rgba(30, 39, 46, 0.8);
}
.banner-image .image{
    height: 28.125rem;
    width: 28.125rem;
}
.banner-image .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.shopNow-btn{
    padding: 0.9375rem 1.5625rem;
    color: #fff;
    background-color: #c12121;
    font-size: 0.875rem;
    font-weight: bold;
    border: 2px solid #c12121;
    transition: all 0.3s linear;
}
.shopNow-btn:hover{
    color: #c12121;
    background-color: rgba(30, 39, 46, 0.05);
}
/* offer product css */
.banner-section .menu-title{
    font-weight: bold;
    color: #1E272E;
    font-size: 1.5rem;

}
.banner-section .menu-link{
    font-weight: 500;
    color: #1E272E;
    font-size: 0.875rem; 
}
/* offer products css */
/* end banner css part */

/* start offer product css section */

#products .products-title{
    font-size: 1.875rem;
    font-weight: bold;
    color: #1E272E;
}
#products .card{
    padding: 0 !important;
    border: none !important;
    position: relative;
    transition: all 0.3s linear;
}
#products .card .offer-par{
    position: absolute;
    top: 3%;
    left: 5%;
    height: 1.25rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 00.75rem;
    color: #fff;
    font-weight: 500;
    background-color: #1E272E;
    border-radius: 3px;
}
#products .card .photo .wishIcon{
    position: absolute;
    top: 6%;
    right: 6%;
}
#products .card .photo .wishIcon .active{
    font-size: 1.2rem;
    color: #c12121;
    font-weight: bold;
}
#products .card .photo .wishIcon i{
    color: #1E272E;
    font-size: 1.2rem;
}
#products .card .card-title{
    font-size: 00.875rem;
    font-weight: 500;
    color: #1E272E;
}
#products .card .text-muted{
    font-size: 00.875rem;
    font-weight: 600;
    color: rgba(30, 39, 46, 0.25);
}
#products .card .real-price{
    font-size: 00.875rem;
    font-weight: 600;
    color: #c12121;
}
#products .card .addToCart-btn{
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 0.75rem;
    padding: 0.3rem 0.9375rem;
    border: 2px solid #c12121;
    background-color: #c12121; 
}
#products .card .addToCart-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    background-color: #fff;
    color: #c12121;
}
#products .card .addToCart-btn:hover{
    color: #c12121;
    font-weight: 600;
    border: 2px solid #c12121;
}
#products .card .addToCart-btn:hover:before{
    color: #c12121;
    transform: translateX(0);
    z-index: -1;
}
#products .card .addBtnDiv{
    opacity: 0;
}
#products .card:hover{
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.219),
                2px 2px 5px rgba(30, 39, 46, 0.2);
}
#products .card:hover .addBtnDiv{
    opacity: 1;
    transition: all 0.5s linear;
}
.photo{
    position: relative;
    height: 12.125rem;
    width: 100%;
    background-color: rgba(30, 39, 46, 0.05);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    height: 90%;
    width:90%;
    object-fit: contain;
    transition: all 0.4s linear;
    cursor: pointer; 
}
#products .view-all{
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 0.75rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid #c12121;
    background-color: #c12121; 
}
#products .view-all::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    background-color: #fff;
    color: #c12121;
}
#products .view-all:hover{
    color: #c12121;
    font-weight: 600;
}
#products .view-all:hover:before{
    color: #c12121;
    transform: translateX(0);
    z-index: -1;
}
.review-btn i{
    color: #FFC312;
    font-size: 0.8rem;
}
/* end offer product css section */

/* footer css section */
.footer-section{
    background-color: rgba(30, 39, 46, 0.05);
}
.footer-section .terms-link a{
    color: #282828;
    font-size: 00.9375rem;
    font-weight: 500;
    margin: 0 1.5rem;
    transition: all 0.4s linear;
}
.footer-section .terms-link a:hover{
    color: #c12121;
}
.footer-section .social-icon a{
    color: #c12121;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 1.2rem;
    transition: all 0.3s linear;
}
.footer-section .social-icon a:hover{
    transform: translateY(-8px);
}
.footer-section .footer-bottom p{
    font-size: 0.875rem;
    color: #282828;
    font-weight: 500;
}
/* end footer css */
/* start product details section */

#product-details .product-img-section .big-img{
    height: 18.75rem;
    width: 100%;
    background-color: rgba(30, 39, 46, 0.05);
    /* border: 2px solid #1E272E; */
    overflow: hidden;
}
#product-details .product-img-section .big-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#product-details .product-img-section .small-img{
    height: 5rem;
    /* width: 100%; */
    /* margin: 0.5rem; */
    background-color: rgba(30, 39, 46, 0.05);
    border: 1px solid rgba(30, 39, 46, 0.15);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-details .product-img-section .small-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.3s linear;
}
#product-details .product-content-section .category{
    color: #1E272E;
    font-weight: 500;
    font-size: 0.875rem;
}
#product-details .product-content-section .title{
    color: #1E272E;
    font-weight: 600;
    font-size: 1.5rem;
}
#product-details .product-content-section .review-section{
    padding-left: 0;
}
#product-details .product-content-section .review-section span{
    color: #1E272E;
    font-size: 0.8125rem;
    font-weight: 500;
}
#product-details .product-content-section .price{
    font-weight: 600;
    color: #1E272E;
    font-size: 1rem;
}
#product-details .product-content-section .variation{
    font-weight: 600;
    color: #1E272E;
    font-size: 0.875rem; 
}
#product-details .product-content-section .size-btn-div .size-btn{
    font-weight: 500;
    color: #1E272E;
    font-size: 0.875rem;
    padding: 00.25rem 1rem;
    border: 1px solid rgba(30, 39, 46, 0.2);
    cursor: pointer;
    transition: all 0.3s linear;
}
#product-details .product-content-section .size-btn-div .size-btn:hover{
    color: #fff;
    background-color: #c12121;
    border: 1px solid #c12121;
}
#product-details .product-content-section .size-btn-div .active{
    color: #fff;
    background-color: #c12121;
    border: 1px solid #c12121;

}
#product-details .product-content-section .qty-div .addToCart-btn{
    color: #fff;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 00.35rem 1.1rem;
    background-color: #c12121;
    border: 2px solid #c12121;
    transition: all 0.3s linear;
}
#product-details .product-content-section .qty-div .addToCart-btn:hover{
    color: #c12121;
    background-color: rgba(30, 39, 46, 0.05);
    border: 2px solid #c12121;
}
#product-details .product-content-section .qty-div .wishIcon{
    color: #1E272E;
    border: 1px solid rgba(30, 39, 46, 0.5);
    padding: 0.35rem 0.5rem;
    transition: all 0.3s linear;
}
#product-details .product-content-section .qty-div .wishIcon:hover{
    background-color: #c12121;
    border: 1px solid #c12121;
    color: #fff; 
}
#product-details .product-content-section .qty-div .input-group{
    border: 1px solid rgba(30, 39, 46, 0.15);
}
#product-details .product-content-section .qty-div .input-group .qty-input{
    border: none;
    width: 2rem;
}
#product-details .product-content-section .qty-div .input-group .input-group-btn button{
    font-weight: 600;
    padding: 0.1875rem 0.625rem;
}
#product-details .product-content-section .qty-div .input-group .input-group-btn button:focus{
    box-shadow: none;
}
.accordion-collapse {
    border: 0;
}
.accordion-button {
    padding: 0px;
    font-weight: bold;
    border: 0;
    font-size: 1.125rem;
    color: #1E272E;
    text-align: left;
    /* border-bottom: 1px solid rgba(30, 39, 46, 0.5);  */
}
.accordion-button:focus {
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed) {
    background: none;
    color: #c12121;
}
.accordion-body {
    padding: 1rem;
    background-color: #fff;
    color: #1E272E;
    font-weight: 500;
    font-size: 00.875rem;
}
.accordion-button::after {
    width: auto;
    height: auto;
    content: "+";
    font-size: 2.5rem;
    background-image: none;
    font-weight: 100;
    color: #1E272E;
    transform: translateY(-4px);
}
.accordion-button:not(.collapsed)::after {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    font-size: 3rem;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}

.accordion-flush .accordion-item .accordion-button{
    color: #1E272E;
    font-size: 1rem;
    font-weight: 600;
}
.accordion-flush .accordion-item .accordion-button::after{
    color: #1E272E;
    font-size: 1rem;
    font-weight: 600; 
}
.accordion-header{
    line-height: 3.2;
} 
/* product details css end */